################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/webgentle.Bookstore/.vs/webgentle.Bookstore/v16
/webgentle.Bookstore/webgentle.Bookstore/obj
